.DS_Store
/node_modules
/packages/*/node_modules
/packages/umi-plugin-locale-paik/examples/*/node_modules
package-lock.json
yarn-error.log
/paik-utils/
*.tgz
lerna-debug.log
/packages/umi-plugin-locale-paik/src/utils/withIntl/*